@import url(<linkhref="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&amp;family=Montserrat:wght@100;200;300;400;500;600;700;800&amp;display=swap"rel="stylesheet">);

html {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    #e4a7db,
    #d245db,
    #a22dce,
    #7d3ac5,
    #4d56bd
  );
}

.calculator {
  height: 60vh;
  min-width: 370px;
  max-width: 370px;
}

.display {
  width: 100%;
  min-height: 20%;
  max-height: min-content;
  background-color: rgba(29, 27, 27, 0.151);
  box-shadow: -12px -6px 37px -20px rgba(66, 68, 90, 1);
  color: white;
  word-break: break-all;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 5px;
  font-weight: 600;
}

.currentNumber {
  font-size: 35px;
}

.previousNumber {
  color: rgb(182, 182, 182);
  font-size: 20px;
}

.mathSign {
  font-size: 22px;
}

.panel {
  height: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 2px;
}

.panel button {
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.466);
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.546);
}

.equals {
  grid-row: -1/-3;
  grid-column: -2/-1;
}

.calculator-history {
  height: 60vh;
  margin: 20px;
  width: 150px;
  background-color: rgba(20, 27, 27, 0.151);
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  text-align: center;
}

.history {
  list-style: none;
}

.history-title {
  padding-bottom: 10px;
}

.history-btn {
  color: white;
  background: rgba(29, 27, 27, 0.603);
  border: none;
  font-size: 15px;
  padding: 8px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  display: none;
  outline: none;
  margin: 5px auto;
}

.history-btn.active {
  display: block;
}

.history-item {
  margin: 8px 0;
  letter-spacing: 1px;
  border-bottom: 1px solid rgba(29, 27, 27.456);
  padding-bottom: 5px;
}
